* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

form {
  margin: 20px auto;
  width: clamp(100px, 80%, 400px);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100px 300px;
  grid-template-rows: repeat(5, 30px);
  gap: 15px;
  align-items: center;
}

form label {
  text-align: right;
}

form > div {
  display: flex;
  align-items: start;
}

form input {
  flex: 1;
}

form button {
  grid-area: -2 / 1 / -1 / -1;
}

.field-container {
  position: relative;
}

svg {
  height: 1rem;
}

.field-button {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 4px;
}

.icon-button {
  height: 1.4rem;
  padding: 2px 0px 0px 0px;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

#generated-password {
  display: block;
  width: 100%;
}

#generated {
  margin: 0px auto;
  width: 400px;
}