* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

form {
  margin: 20px auto;
  width: clamp(100px, 80%, 400px);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(5, 35px);
  gap: 15px;
  align-items: center;
}

form label {
  text-align: right;
}

form > div {
  display: flex;
  height: 100%;
}

input[type=text],
input[type=password] {
  flex: 1;
  border-radius: 5px;
  padding: 5px;
}

form button {
  grid-area: -2 / 1 / -1 / -1;
}

svg {
  height: 1rem;
  transform: rotateX(180deg);
}

.field-button {
  position: absolute;
  right: 10px;
  top: 0.4rem;
}

.icon-button {
  height: 1.4rem;
  padding: 2px 0px 0px 0px;
  border: none;
  background-color: transparent;
}

.icon-button:active {
  fill: lightblue;
}

button:hover {
  cursor: pointer;
}

#generated-password {
  display: block;
  width: 100%;
}

#generated-container {
  margin: 0px auto;
  width: 400px;
}

#username-container::before {
  content: "Username";
}

#app-container::before {
  content: "Application";
}

#secret-container::before {
  content: "Secret";
}

#length-container::before {
  content: "Length"
}

#generated-container::before {
  content: "Generated Password";
}

.input-container {
  position: relative;
}

.input-container::before {
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
  color: black;
  background-color: white;
}